<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wekcome to iMPReSSioN</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_home.css') }}">
</head>
<body>

    <!-- Bootstrap Navbar Setup-------------------------------------- -->
    <nav class="navbar sticky-top navbar-expand-lg" id="nav-mine">
        <div class="container-fluid">
            <a class="navbar-brand text-info" href="/">iMPReSSioN</a>
            <button class="navbar-toggler bg-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Browse
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/all/shows">Shows</a></li>
                    <li><a class="dropdown-item" href="/all/movies">Movies</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Contests</a></li>
                </ul>
                </li>
                <li class="nav-item">
                <a class="nav-link text-white" href="/login/page">My Account</a>
                </li>
            </ul>
            <form action="/process/search" class="d-flex" role="search" method="POST">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search" name="search">
                <button class="btn btn-outline-info" type="submit">Search</button>
            </form>
            </div>
        </div>
    </nav>
<!-- Bootstrap Navbar end ------------------------------------------ -->



<!-- Bootstrap carousel ----------------------------------------------->


<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" id="car-first">
            <!-- <img src="{{session['popular_movie_data_sesh'][3]['image']}}" class="d-block w-100" alt="..."> -->
            <img src="{{url_for('static',filename = 'doctor_strange.jpg')}}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <a href="/all/movies"><h1>MOVIES</h1></a>
            </div>
        </div>
        <div class="carousel-item">
            <!-- <img src="{{session['popular_show_data_sesh'][0]['image']}}" class="d-block w-100" alt="..."> -->
            <img src="{{url_for('static',filename = 'Better-Call-Saul.jpeg')}}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <a href="/all/shows"><h1>SHOWS</h1></a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{url_for('static',filename = 'baby_groot.jpg')}}" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<!-- Bootstrap carousel end -------------------------------------------->

<!-- Body container ------------------------------------------------->
<div class="body-container">
    <h2>Top Movies</h2>
    <div class="top-movies">
        {% for data in session['popular_movie_data_sesh'] %}
            {% if data.rank == "1" or data.rank == "2" or data.rank == "3" or data.rank == "4" or data.rank == "5" or data.rank == "6" or data.rank == "7" or data.rank == "8" or data.rank == "9" or data.rank == "10" %}
                <p class="show_card"><a href="/process/choice/{{data.api_id}}"><img src="{{data.image}}" alt="blank"></a> </p>
            {% endif %}
        {% endfor %}
    </div>
    <h2>Top Shows</h2>
    <div class="top-shows">
        {% for data in session['popular_show_data_sesh'] %}
            {% if data.rank == "1" or data.rank == "2" or data.rank == "3" or data.rank == "4" or data.rank == "5" or data.rank == "6" or data.rank == "7" or data.rank == "8" or data.rank == "9" or data.rank == "10" %}
                <p class="show_card"><a href="/process/choice/{{data.api_id}}"><img src="{{data.image}}" alt="blank"></a> </p>
            {% endif %}
        {% endfor %}
    </div>
</div>


<!-- Body container end --------------------------------------------->





    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>